.hidden { display: none; }

.main-heading {
  color: red;
  cursor: pointer;
    }
/* set up the grid */
#svg-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px
}
