
body {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  color: #202121;
  background-color: #f8f9fc;
}

.hidden { display: none; }

 /*------------ Brand Colours ------------*/

.border {
   border-bottom: 5px solid #202121;
   padding-bottom: 0.8em;
}

.b-colour {
   color: #f8f9fc;
   background-color: #202121;
}

 /*------------ Brand Colours End ------------*/

/*------------ Start Nav ------------*/

   nav {
      grid-column: 1 / span 1;
      padding-top: 0.7em;
      padding-bottom: 0.7em;
      color: #202121;
      background-color: #f8f9fc;
      position: fixed;
      z-index: 100;
      width: 100%;
      top:2em;
   }

   nav ul {
      margin:auto;
      padding: 0;
      text-align: center;
   }

   nav li {
      font-weight: 700;
      display: inline-block;
      justify-self: center;
      padding: 0;
      grid-row: 1;
   }

   nav li a {
      color: #202121;
      background-color: #f8f9fc;
      font-size: inherit;
      text-decoration: none;
      padding-top: 0.7em;
      padding-bottom: 0.7em;
      padding-left: 2em;
      padding-right: 2em;
   }

   nav li a:hover {
      font-weight: 700;
      color: #202121;
      background-color: #c9c9c9;
   }

   nav li a.active {
      color: #f8f9fc;
      background-color: #202121;
   }

/*------------ end Nav ------------*/
.main-heading {
  margin-top: 2em;
  cursor: pointer;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  color: #202121;
  background-color: #f8f9fc;
    }
/* set up the grid */
#svg-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.container { display: flex; flex-direction: column;}
.container img { margin: auto; width: 50%; }
.container svg { margin: auto; width: 50%; }
.container p { text-align: center; padding-top: 10px; }

.section-containers {
display: flex;
flex-wrap: wrap;
max-width: 1400px;
margin: 40px auto 30px auto;
width: 100%;
}

/*------------ Start Footer ------------*/
.footer {
  display: inline-grid;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 5em;
}

.footer-contac {
   display: flex;
   align-content: center;
   text-align: center;
   padding: 5em;
}

.footer-contac p {
   display: inline-grid;
   justify-content: center;
   align-items: center;
   align-self: center;
   font-weight: 700;
   color: #f8f9fc;
   background-color: inherit;
   width: 20%;
}


.icon-social{
   width: 40px;
}
/*------------ End Footer ------------*/
